# Flask 開發設定
FLASK_ENV=development
FLASK_DEBUG=True
#可以不管 只要加入好友 看是否能收到訊息即可 功能給line組自己測試
# VIP 到店通知用 LINE Bot
# STAFF_LINE_CHANNEL_ACCESS_TOKEN：LINE Bot 的 Channel Access Token
# STAFF_LINE_USER_ID：接收 VIP 通知的店員 LINE User ID
STAFF_LINE_CHANNEL_ACCESS_TOKEN=
STAFF_LINE_USER_ID=

# 一般 LINE Bot 設定，未來會員互動功能會用到
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

# MySQL 資料庫設定
# 每個人依照自己電腦的 MySQL 設定填寫
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=text630