<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}智慧會員辨識系統{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="{% block body_class %}{% endblock %}">

    {% include "_navbar.html" %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}

</body>
</html>
