<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智慧會員辨識系統</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="navbar">

    </header>

<body>

    <header class="navbar">

        <div class="logo">
            智慧會員系統
        </div>

        <nav class="nav-links">
            <a href="/">首頁</a>
            <a href="/camera">攝影機</a>
            <a href="/member">會員資料</a>
            <a href="/line">LINE 測試</a>
        </nav>

    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>